body{
    background: #FF0099;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#f1faeeff;
    font-size: 100%;
    
    /* margin:0; */
    margin-left: 3em;
    margin-top: 0;
}

html{
        font-family: 'Nunito', sans-serif;
}

h1,h2{
    text-align: center;
}

p{
    text-align: justify;
    font-weight: bold;
    line-height: 1.3em;
    /* white-space: pre-line; */
    
}

.content{
    width: 400px;
    height: 630px;
    background-color:#1d3557ff;
    padding: 16px;
    border-radius: 25%;
    display:inline-block;
    vertical-align: auto; /* Para alineación vertical pero aquí no sirve y no se pq? */
    border: double red 4px;
        
}

h1.tamanog, .tamanog{
    font-size: 2.25em;
    text-shadow: 4px 4px 4px yellowgreen;
}

.content0{
    width: 400px;
    height: 630px;
    background-color:#457b9dff;
    padding: 16px;
    border-radius: 25%;
    display:inline-block;
    position: absolute;
    right: 3em;
    border:4px red dashed;
    
    
}

address{
    text-align: center;
    font-weight: bold;
}

a{
    text-decoration: overline;
    color: #a8dadcff;
    
}

.style1{
    font-style: italic;
}